*
!.zshrc
!.vimrc
!.ssh
!.ssh/config
!.vim/
!.vim/**
.vim/plugged
!.gitignore
!.local
!.local/share
!.local/share/zsh-custom
!.local/share/zsh-custom/**
!.oh-my-zsh/
!.oh-my-zsh/**
!.github/
!.github/**
