*
!.zshrc
!.vimrc
!.vim/
!.vim/**
.vim/plugged
.vim/autoload
!.gitignore
!.gitmodules
!.local
!.local/share
!.local/share/zsh-custom
!.local/share/zsh-custom/**
!.oh-my-zsh/
!.oh-my-zsh/**
!.github/
!.github/**
!.local/share/sounds
!.local/share/sounds/ns
!.local/share/sounds/ns/**
!.local/bin
!.local/bin/git-dotfile-track
!.local/bin/git-dotfile-track/**
!.local/share/gnome-shell
!.local/share/gnome-shell/extensions
!.local/share/gnome-shell/extensions/**
!.local/share/wallpapers
!.local/share/wallpapers/custom
!.local/share/wallpapers/custom/**
!.p10k.color.zsh
!.p10k.color.zsh/**
!.p10k.zsh
!.p10k.zsh/**
