*
!.zshrc
!.vimrc
!.vim/
!.vim/**
.vim/plugged
.vim/autoload
!.gitignore
!.gitmodules
!.local
!.local/share
!.local/share/zsh-custom
!.local/share/zsh-custom/**
!.oh-my-zsh/
!.oh-my-zsh/**
!.github/
!.github/**
!.local
!.local/share
!.local/share/sounds
!.local/share/sounds/ns
!.local/share/sounds/ns/**
!.local
!.local/bin
!.local/bin/git-dotfile-track
!.local/bin/git-dotfile-track/**
